<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Noriko</title>
	</head>
	<body>
		<form action="/result">
			<label>Enter a dish</label><br>
			<input name="name" placeholder="Name">
			<input name="spicyness" placeholder="spicyness" type="number"><br>
			<input type="submit" value="Add">
		</form>
	</body>
</html>