<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Noriko</title>
	</head>
	<body>
		<p>Your Dish has been added</p>
			@foreach(var d in Model)
				{<p>@d.ToString()</p>}
	</body>
</html>